version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: webhosting-in-cloud-prod
    ports:
      - "80:3000"
    restart: always
    environment:
      - NODE_ENV=production
